* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root { */
/*   color: #f6f6f6; */
/* } */

html,
body,
div#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 2em;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  background-color: #343a40;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  color: #e1e2e3;
  background-color: #49515a;
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #373d43;
}

input {
  text-align: center;
  background-color: #f6f6f6;
  color: #49515a;
  border-color: #49515a;
}

a {
  text-decoration: none;
  color: #00eaff;
  font-size: 1.2em;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
